@import url(./style.css);

/* Dark and Light theme */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html[light-mode="light"] {
  --bg1-color: white;
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  --border: 1px solid #ecf0f3;
  --meta-col: #444;
  --head-col: black;
  --tint-col: #ecf0f3;
}

html[light-mode="dark"] {
  --bg1-color: #272727;
  --shadow: 0 4px 8px 0 rgba(104, 102, 102, 0.2);
  --border: none;
  --meta-col: rgb(155, 149, 149);
  --head-col: #fff;
  --tint-col: #ecf0f3be;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.education_head {
  font-weight: bold;
}

/*color of education page heading*/

.edu_background {
  color: #4e00bb;
}

/* -----Education Section CSS----- */

 @media (max-width: 767px) {
  .dropdown1 {
    position: absolute;
    text-align: center;
    padding-right: 1.2rem;
    z-index: 3;
    padding-left: 3.5%;
  }
  .dropdown2 {
    position: absolute;
    text-align: center;
    padding-top: 10rem;
    padding-left: 3.5%;
    z-index: 3;
  }
  .godown {
    position: absolute;
    z-index: 1;
    padding-top: 8rem;
  }
}

.sect {
  height: auto;
  max-width: 120%;
  background-size: cover;
  background-position: center center;
  object-fit: fill;
}

.s2 {
  overflow-x: hidden;
}

.s2 .head {
  font-size: 2rem;
  font-weight: bold;
} 

/*properties for online accreditaions(MOOCS) heading*/

.h4,
h4 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

.s2 h4 {
  margin-bottom: 1.2rem;
}

.qual {
  margin-bottom: 2rem;
  color: var(--meta-col);
}

.s2 p {
  margin-top: -0.5rem;
  font-weight: 450;
  font-size: 2.5vh;
}
.card {
  background-color: var(--bg1-color);
}
.s2 .card img {
  height: 90%;
  width: 90%;
}
.s2 .card,
.s2 img {
  border-radius: 3rem;
}

.card .row {
  color: black;
}
.s2 h4,
p {
  color: var(--head-col);
}
@media only screen and (max-width: 767px) {
  .edSection {
    margin-top: 400px;
  }
}
@media only screen and (max-width: 600px) {
  .edSection {
    margin-top: 50px; /*changed the margin-to from 250px to 50px to eliminate space */
  }
}
/* Card Hover Effect */
.mooc-title {
  color: var(--head-col);
}
.content {
  position: relative;
  width: 100%;
  padding: 10px;
  margin: auto;
  overflow: hidden;
  height: 75%;
}
.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.content:hover .content-overlay {
  opacity: 0.8;
}
.content-details {
  position: absolute;
  text-align: center;
  width: 100%;
  left: 50%;
  top: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.content:hover .content-details {
  left: 50%;
  top: 50%;
  opacity: 1;
  transition: 0.3s ease-in;
}
.fadeIn-bottom {
  top: 80%;
}
#mooc .card {
  border-radius: 5px;
  background: var(--tint-col);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
}
#mooc .card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
#mooc .card-body {
  background-color: var(--bg1-color);
  padding: 1px;
}
/* SVG animation */
#Girl {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  transform-box: fill-box;
  float: left;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
@keyframes swing {
  0% {
    transform: rotate(9deg);
  }
  100% {
    transform: rotate(-9deg);
  }
}
#Vector_38 {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center 0px;
  transform-box: fill-box;
  float: left;
}
#Vector_39 {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center 0px;
  transform-box: fill-box;
  float: left;
}
#Vector_40 {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  transform-box: fill-box;
  float: left;
}
#leaf12 {
  -webkit-animation: shake-bottom 9s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    infinite both;
  animation: shake-bottom 9s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
    both;
  transform-box: fill-box;
}
#leaf13 {
  -webkit-animation: shake-bottom 8s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    infinite both;
  animation: shake-bottom 8s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
    both;
  transform-box: fill-box;
}
#lef14 {
  -webkit-animation: shake-bottom 7.5s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    infinite both;
  animation: shake-bottom 7.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
    both;
  transform-box: fill-box;
}
#leaf15 {
  -webkit-animation: shake-bottom 7s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    infinite both;
  animation: shake-bottom 7s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
    both;
  transform-box: fill-box;
}
#leaf16 {
  -webkit-animation: shake-bottom 6.5s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    infinite both;
  animation: shake-bottom 6.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
    both;
  transform-box: fill-box;
}
#leaf17 {
  animation: shake-bottom 6s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
    both;
  transform-box: fill-box;
}
@-webkit-keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
@keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
/* -----Education Timeline CSS----- */
section {
  padding: 100px 0;
}
html, body {
  overflow-x: hidden;
}
body {
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 400;
  background-color: #eee;
}
h1 {
  font-size: 200%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

header {
  background: #3F51B5;
  color: #FFFFFF;
  padding: 150px 0;
}
header p {
  font-family: "Allura";
  color: rgba(255, 255, 255, 0.2);
  margin-bottom: 0;
  font-size: 60px;
  margin-top: -30px;
}

.timeline {
  position: relative;
  font-weight: bold;
}

/* Draws line */
.timeline::before {
  content: "";
  background: #C5CAE9;
  width: 5px;
  height: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;
}

.timeline-item:nth-child(even) .timeline-content {
  float: right;
  padding: 40px 30px 10px 30px;
}
 .timeline-item:nth-child(even) .timeline-content .alignment {
  position:absolute;
  text-align: left;
  padding-right: 5px;
} 
.timeline-item:nth-child(even) .timeline-content .date {
  left: auto;
  right: 0;
}
.timeline-item:nth-child(even) .timeline-content .bnt-more {
  position: absolute;
  right:0;
  bottom: 65px;
}

.timeline-item:nth-child(even) .timeline-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #f5f5f5 transparent transparent;
}

.timeline-item::after {
  content: "";
  display: block;
  clear: both;
}

/* This will give the cards to their respective sides */
.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 4px;
/*   background: #f5f5f5;
  color: black; */
  box-shadow: 0 20px 25px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  align-items: center;
   background-image: linear-gradient(147deg, #545b62a8, black);
  color: white;
}

.timeline-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #f5f5f5;
}

.timeline-img {
  width: 30px;
  height: 30px;
  background: #3F51B5;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}

.bnt-more {
  background: #3F51B5;
  color: #FFFFFF;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
  position: absolute; 
  right:0;
}

.bnt-mor:hover, .bnt-mor:active, .bnt-mor:focus {
  background: #32408f;
  color: #FFFFFF;
  text-decoration: none;
}

.timeline-card {
  padding: 0 !important;
}

.timeline-card p {
  padding: 0 20px;
}

.timeline-card a {
  margin-left: 20px;
}

.timeline-item .timeline-img-header {
  /*background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://picsum.photos/1000/800/?random") center center no-repeat;*/
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  background-size: cover;

}

.timeline-img-header {
  height: 200px;
  position: relative;
  margin-bottom: 20px;
  /*background-image: url('assets/images/education-page/edTimeline1.png');*/

}

.timeline-img-header h2 {
  /*color: #FFFFFF;*/
  color: black;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

blockquote {
  margin-top: 30px;
  color: #757575;
  border-left-color: #3F51B5;
  padding: 0 20px;
}

.date {
  background: #FF4081;
  display: inline-block;
  color: #FFFFFF;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.alignment{
  padding-left: 20px;
  
}

    /* Media Query  header/footer */

    @media (max-width: 768px) {
      .collapse navbar-collapse {
          display: flex;
          justify-content: center;
      }
      .footer {
          padding-top: 10px;
      }
      #navbar-content {
          margin-top: -200px;
          height: 120vh;
          text-align: center;
          transform: translateY(25%);
      }
      #btnScrollToTop {
          display: none;
      }
    }
    
    @media (max-width: 414px) {
      .collapse navbar-collapse {
          display: flex;
          justify-content: center;
      }
      #navbar-content {
          margin-top: -180px;
          height: 120vh;
          text-align: center;
          transform: translateY(25%);
      }
      #btnScrollToTop {
          display: none;
      }
    }
    
    @media (max-width: 375px) {
      .collapse navbar-collapse {
          display: flex;
          justify-content: center;
      }
      #navbar-content {
          margin-top: -180px;
          height: 120vh;
          text-align: center;
          transform: translateY(25%);
      }
      #btnScrollToTop {
          display: none;
      }
    }
    
    @media (max-width: 320px) {
      .collapse navbar-collapse {
          display: flex;
          justify-content: center;
      }
      #navbar-content {
          margin-top: -140px;
          height: 130vh;
          text-align: center;
          transform: translateY(25%);
      }
      .footer {
          margin-top: 6rem;
      }
      #btnScrollToTop {
          display: none;
      }
    }

/*  Content */
@media only screen and (max-width: 450px) {
  .text {
    margin-top: 5rem;
  }
}

@media only screen and (max-width:2381px){
  .text{
    margin-top:2rem;
  }
}

@media only screen and (max-width:1340px){
  .text{
    margin-top:4rem;
  }
}
@media(max-width:1200px){
  .timelineHeading{
    font-size: 152%;
  }
  .timelineHeading2{
    font-size: 131%;
  font-weight: bolder;
  }
  .timelineHeading3{
    font-size: 2.9ch;
  }
}

@media (max-width: 991px){

  .timelineHeading{
    font-size: 1.8ch;
   font-weight: bold;
  }
  .date1{
    padding: 1px;
  }
                                                  /* Second  */
  .timelineHeading2{
    font-size: 94%;
  }
  .date2{
    padding: 0px;
  }
                                                     /* Third  */
  .date3{
    padding: 4px;
  }
  footer{
    width: revert;
  }
}


@media screen and (max-width: 768px) {
  .timeline::before {
    left: 50px;
  }

  .timeline .timeline-img {
    left: 50px;
  }

  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }

  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }
  h2{
    font-size: 1.75rem;
  }
  h3{
    font-size: 1.5rem;
  }

  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  } 
}
 
  @media (max-width:502px){
    .timelineHeading2{
      font-size: 120%;
    }
  }
  @media (max-width:582px){
    .timelineHeading2{ 
      font-size: 117%;
    }
  }
  @media (max-width:458px){
    .timelineHeading2{
      font-size: 106%;
    }
  }
  @media (max-width:453px){
    .timelineHeading3{
      font-size: 142%;
    font-weight: bold;
    }
    .timeline-content{
      font-size: 84%;
     }
  }

  @media (max-width:440px){
    .timelineHeading3{
      font-size: 132%;
    font-weight: bold;
    }
  }
  @media (max-width:432px){
   .timeline-content{
    font-size: 84%;
   }
    .timelineHeading3{
      font-size: 122%;
    }
  }
 @media(max-width:378px){
  .container{
    font-size: 80%;  
  }
 }
  @media(max-width:346px){
    .container{
      font-size: 77%;
    }
    #name{
      text-align: center;
    }
    #email{
      text-align: center;
    }
    #textArea{
      text-align: center;
    }
  }
  @media(max-width:321px){
    .container{
      font-size: 72%;
    }
    #name{
      text-align: center;
    }
    #email{
      text-align: center;
    }
    #textArea{
      text-align: center;
    }
  }
  @media(max-width:309px){
    .container{
      font-size: 70%;
    }
    #name{
      text-align: center;
    }
    #email{
      text-align: center;
    }
    #textArea{
      text-align: center;
    }
  }
  @media(max-width:292px){
    .container{
      font-size: 65%;
    }
    #name{
      text-align: center;
    }
    #email{
      text-align: center;
    }
    #textArea{
      text-align: center;
    }
  }
  @media(max-width:281px){
    .container{
      font-size: 60%;
    }
    #name{
      text-align: center;
    }
    #email{
      text-align: center;
    }
    #textArea{
      text-align: center;
    }
  }
  @media(max-width:273px){
    .container{
      font-size: 50%;
    }
    #name{
      text-align: center;
    }
    #email{
      text-align: center;
    }
    #textArea{
      text-align: center;
    }
  }
html[data-theme="light"] {
  --bg-col: #fafafa;
  --shadow1: rgba(0, 0, 0, 0.3);
  --shadow2: rgba(0, 0, 0, 0.2);
  --text: #191919;
  --neu-light: white;
  --neu-dark: #c3c3c3;
  --neu-color: #c3c3c3;
  --neu-icon: #c3c3c3;
}

html[data-theme="dark"] {
  --bg-col: #272727;
  --shadow1: rgba(128, 122, 122, 0.233);
  --shadow2: rgba(231, 216, 216, 0.007);
  --neu-light: #282828;
  --neu-dark: #080808;
  --neu-color: white;
  --text: rgba(255, 255, 255, 0.5);
  --neu-icon: whitesmoke;
}
html {
  overflow-x: hidden;
  max-width: 120%;
  height: auto;
}
body {
  color: var(--text);
  background-color: var(--bg);
}

.projects_head {
  font-weight: bold;
}

/*color of projects page heading*/

.my_projects {
  color: #4e00bb;
}

/*For Changing background color of body according to theme*/

.light-mode-button {
  background: 0;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  height: 40px;
  width: 100px;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0);
}

.light-mode-button:focus {
  outline: none;
  /* Not ideal for accessibility */
}

.light-mode-button span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background-color: #d6d7db;
  box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
  transition: 0.3s;
}

.light-mode-button span:nth-child(2) {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
  transition: 0.3s;
}

body {
  background-color: #f6f6f6;
  transition: background-color 0.3s;
}

body[light-mode="dark"] {
  background-color: #141516;
  color: #ced4e2;
}

body[light-mode="dark"] .light-mode-button span:nth-child(1) {
  background-color: #ced4e2;
  color: #141516;
}

body[light-mode="dark"] .light-mode-button span:nth-child(2) {
  left: 65px;
  background-color: #141516;
}

@media (max-width: 766px) {
  .dropdown {
    position: absolute;
    padding-right: 3.5rem;
  }
  .godown {
    z-index: 1;
    padding-top: 15rem;
    padding-left: 3.3rem;
  }
}

@media (max-width: 959) {
  .projectcards {
    margin: 10px;
  }
}

.img-header {
  width: 90%;
  height: 90%;
}

a:hover {
  text-decoration: none;
}

.skill-card {
  border: none;
}

.experience-cards {
  margin: 0 auto;
}
@media only screen and (max-width: 550px) {
  .experience-cards {
    overflow: hidden;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.row {
  display: flex;
  row-gap: 3em;
}

.card {
  width: 100%;
}

.card {
  cursor: pointer;
}

.column {
  float: left;
  margin-bottom: 2rem;
}

@media (min-width: 60rem) {
  .row {
    margin-top: 0em;
  }
  .card {
    width: 43%;
    column-gap: 3rem;
    margin: 0 2rem;
    transition: width 0.8s;
  }
  .column {
    margin-left: 1.5rem;
  }
}

.card .menu-content {
  list-style-type: none;
  position: absolute;
  right: 0;
}

.card .menu-content::before,
.card .menu-content::after {
  content: "";
  display: table;
}

.card .menu-content::after {
  clear: both;
}

.card .menu-content li {
  display: inline-block;
}

.card .wrapper {
  background-color: #fff;
  border: 0;
  border-radius: 10px;
  min-height: 21.5rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px var(--shadow1), 0 15px 12px var(--shadow2);
}

.card .wrapper:hover .data {
  transform: translateY(0);
}

.card .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: transform 0.3s;
  background: rgba(0, 0, 0, 0.55);
}

@media (min-width: 60rem) {
  .card .data {
    height: 76%;
  }
}

.card .data .content {
  padding: 1em;
  position: relative;
  z-index: 1;
}

.card .title-div {
  width: 100%;
  height: 35%;
  margin: 0;
}

.card .title {
  padding-bottom: 2rem;
  margin-top: 0em;
  font-size: 0.65em;
}

@media (min-width: 411px) {
  .card .title {
    font-size: 0.8em;
  }
}

@media (min-width: 365px) {
  .card .title {
    font-size: 1em;
  }
}

@media (min-width: 425px) {
  .card .title {
    font-size: 1.3em;
  }
}

@media (min-width: 554px) {
  .card .title {
    font-size: 1.5em;
  }
}

@media (min-width: 60rem) {
  .card .title {
    padding-bottom: 4rem;
    font-size: 1.2em;
  }
}

.card .text {
  height: 60px;
  font-size: 0.5em;
  margin: 0;
}

@media (min-width: 311px) {
  .card .text {
    font-size: 0.7;
  }
}

@media (min-width: 365px) {
  .card .text {
    font-size: 0.85em;
  }
}

@media (min-width: 425px) {
  .card .text {
    font-size: 1em;
  }
}

@media (min-width: 554px) {
  .card .text {
    font-size: 1.2em;
  }
}

@media (min-width: 60rem) {
  .card .text {
    font-size: 18px;
  }
}

.card input[type="checkbox"] {
  display: none;
}

.card input[type="checkbox"]:checked + .menu-content {
  transform: translateY(-60px);
}

input[type="text"] {
  color: rgb(235, 148, 35);
}

.skill-card .wrapper:hover .menu-content span {
  transform: translate(-50%, -10px);
  opacity: 1;
}

.skill-card {
  width: 300px;
  border: 0;
  border-radius: 10px;
}

.skill-card .header {
  color: #fff;
  padding: 1em;
}

.skill-card .header::before,
.skill-card .header::after {
  content: "";
  display: table;
}

.skill-card .header::after {
  clear: both;
}

.skill-card .header .date {
  float: left;
  font-size: 12px;
}

.skill-card .menu-content {
  float: right;
}

.skill-card .menu-content li {
  margin: 0 2px;
  position: relative;
}

.skill-card .menu-content span {
  transition: all 0.3s;
  opacity: 0;
}

.skill-card .data {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.55);
  transform: translateY(calc(60px + 4em));
  padding: 5px;
}

.skill-card .title a {
  color: #fff;
}

/*social icons*/

ul {
  padding-inline-start: 0px;
}

.social-icon svg {
  margin-top: 30px;
}

.menu-content {
  margin-right: 10px;
  margin-top: 1rem;
}

.social-icon svg:hover {
  fill: #fff;
}

.project-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
}

.page-content {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* margin: 1rem auto; */
}

/* Responsive*/

@media (min-width: 320px) and (max-width: 321px) {
  .menu-content {
    margin-top: -4.5rem;
    margin-right: 20px;
  }
  .card .title-div {
    padding-bottom: 7rem;
    margin-bottom: 0px;
    font-size: 3rem;
  }
}

@media (min-width: 360px) and (max-width: 361px) {
  .card .menu-content {
    margin-top: -4.5rem;
    margin-right: 20px;
  }
  .card .title-div {
    padding-bottom: 7rem;
    font-size: 3rem;
  }
}

@media (min-width: 374px) and (max-width: 375px) {
  .menu-content {
    margin-top: -4.5rem;
    margin-right: 20px;
  }
  .card .title-div {
    padding-bottom: 8rem;
    margin-bottom: 0px;
    font-size: 2rem;
  }
}

@media (min-width: 410px) and (max-width: 411px) {
  .menu-content {
    margin-top: -4.5rem;
    margin-right: 20px;
  }
  .card .title-div {
    padding-bottom: 6rem;
    margin-bottom: 0px;
    font-size: 2rem;
  }
}

@media (min-width: 413px) and (max-width: 414px) {
  .menu-content {
    margin-top: -4.5rem;
    margin-right: 20px;
  }
  .card .title-div {
    padding-bottom: 6rem;
    margin-bottom: 0px;
    font-size: 2rem;
  }
}

@media (min-width: 535px) and (max-width: 540px) {
  .menu-content {
    margin-top: -4.5rem;
    margin-right: 20px;
  }
  .card .title-div {
    padding-bottom: 6rem;
    font-size: 2rem;
  }
}

@media (min-height: 822px) and (max-height: 823px) {
  .menu-content {
    margin-right: 20px;
  }
  .card .title-div {
    padding-bottom: 6rem;
    margin-bottom: 0px;
    font-size: 2rem;
  }
}

@media only screen and (min-height: 768px) {
  .menu-content {
    margin-top: -4.5rem;
    margin-right: 20px;
  }
  .card .title-div {
    padding-bottom: 6rem;
    margin-bottom: 0px;
    font-size: 2rem;
  }
  .skill-card {
    width: 450px;
    border: 0;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 280px) {
  .menu-content {
    margin-top: -4.5rem;
    margin-right: 20px;
  }
  .card .title-div {
    padding-bottom: 7rem;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 767px) {
  .project-box {
    margin-top: 18rem;
  }
}

@media only screen and (max-width: 450px) {
  .project-box {
    margin-top: 18rem;
  }
}

@media (max-width: 377px) {
  .skill-card .data {
    transform: translateY(calc(90px + 4em));
  }
  .social-icon svg {
    margin-top: 20px;
  }
}

@media (min-width: 960px) {
  .skill-card .data {
    color: #fff;
    transform: translateY(calc(80px + 4em));
    padding: 5px;
  }
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.left {
  position: relative;
}

.right {
  position: relative;
}

@media screen and (max-width: 480px) {
  .main {
    display: flex;
    flex-direction: column-reverse;
  }
}

/*
----------------------------
SVG ANIMATIONS PROJECT PAGE
----------------------------
*/

@keyframes ekumanslidein {
  0% {
    transform: translateX(-600px);
  }
  50% {
    transform: translateX(-600px) scaleX(1);
  }
  75% {
    transform: translateX(30px) scaleX(0.9);
  }
  87.5% {
    transform: translateX(-5px);
  }
  97% {
    transform: translateX(3px);
  }
  to {
    transform: translateX(0) scaleX(1);
  }
}

@keyframes ekumanarmrotate {
  0%,
  45%,
  65%,
  85%,
  to {
    transform: rotate(0deg);
  }
  55%,
  75% {
    transform: rotate(-5deg);
  }
}

@keyframes ekumanhairwobble {
  50%,
  to {
    transform: scaleX(1);
  }
  75% {
    transform: scaleX(1.2);
  }
  87.5% {
    transform: scaleX(0.8);
  }
  97% {
    transform: scaleX(1.09);
  }
}

@keyframes ekuwomanlidein {
  0% {
    transform: translateX(600px);
  }
  50% {
    transform: translateX(600px) scaleX(1);
  }
  75% {
    transform: translateX(-30px) scaleX(0.9);
  }
  87.5% {
    transform: translateX(5px);
  }
  97% {
    transform: translateX(-3px);
  }
  to {
    transform: translateX(0) scaleX(1);
  }
}

@keyframes kulapdropin {
  0% {
    transform: translateY(-230px) scale(0) rotate(0deg);
  }
  35% {
    transform: translateY(-230px) scale(1.03) rotate(20deg);
  }
  45% {
    transform: rotate(10deg);
  }
  50% {
    transform: translateY(-5px) scale(0.98) rotate(0deg);
  }
  55% {
    transform: translateY(-10px) scale(1.01) rotate(0deg);
  }
  60% {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes ekuwomanarmrotate {
  0%,
  45%,
  65%,
  85%,
  to {
    transform: rotate(0deg);
  }
  55%,
  75% {
    transform: rotate(10deg);
  }
}

@keyframes ekuwomanarmbackrotate {
  0%,
  45%,
  65%,
  85%,
  to {
    transform: rotate(0deg);
  }
  55%,
  75% {
    transform: rotate(-13deg);
  }
}

@keyframes manscreenpopup {
  0%,
  45%,
  55%,
  65%,
  75%,
  85% {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes manscreenfloat {
  0%,
  to {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes backhairwave {
  0%,
  to {
    transform: scaleX(1) skewX(0) skewY(0);
  }
  50% {
    transform: scaleX(1.07) skewX(3deg) skewY(5deg);
  }
}

#ku.svgmate #Bluearmbot,
#ku.svgmate #Chair,
#ku.svgmate #chairbackbar,
#ku.svgmate #man,
#ku.svgmate .mankauf {
  animation-name: ekumanslidein;
  animation-iteration-count: 1;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;
  transform-origin: 502px 454px;
}

#ku.svgmate #Bluearmbot,
#ku.svgmate #Chair,
#ku.svgmate #chairbackbar,
#ku.svgmate .mankauf {
  animation-duration: 1.5s;
}

#ku.svgmate #Bluearmbot {
  animation-name: ekumanarmrotate;
  animation-iteration-count: infinite;
  animation-duration: 1.8s;
  animation-delay: 1.2s;
  transform-origin: 448.122px 403.482px;
}

#ku.svgmate .mankauf {
  animation-name: ekumanhairwobble;
  animation-duration: 1.38s;
  transform-origin: 396.257px 260.5px;
}

#ku.svgmate #Chair_1_,
#ku.svgmate #Woman,
#ku.svgmate #back-arm,
#ku.svgmate #backleg_1_ {
  animation-name: ekuwomanlidein;
  animation-iteration-count: 1;
  animation-duration: 1.8s;
  animation-timing-function: ease-out;
  transform-origin: 502px 454px;
}

#ku.svgmate #Chair_1_ {
  animation-duration: 1.95s;
}

#ku.svgmate #Laptop,
#ku.svgmate #keyboard {
  animation-name: kulapdropin;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  transform-origin: 648.689px 361.659px;
}

#ku.svgmate #keyboard {
  animation-duration: 2.5s;
  transform-origin: 479.857px 383px;
}

#ku.svgmate #lowerarm,
#ku.svgmate #lowervackarm {
  animation-name: ekuwomanarmrotate;
  animation-iteration-count: infinite;
  animation-duration: 1.8s;
  animation-delay: 2.1s;
  animation-timing-function: ease-out;
  transform-origin: 751.134px 385.578px;
}

#ku.svgmate #lowervackarm {
  animation-name: ekuwomanarmbackrotate;
  transform-origin: 736.882px 386px;
}

#ku.svgmate #Man_screen .greenscreen,
#ku.svgmate #Man_screen .redscreen,
#ku.svgmate #Man_screen .screenbutton {
  animation-name: manscreenpopup;
  animation-iteration-count: 1;
  animation-duration: 5.6s;
  animation-timing-function: ease-in-out;
  transform-origin: 526.882px 383px;
}

#ku.svgmate #Man_screen .greenscreen,
#ku.svgmate #Man_screen .redscreen {
  animation-duration: 3s;
}

#ku.svgmate #Man_screen .greenscreen {
  animation-duration: 3.3s;
}

#ku.svgmate #Man_screen,
#ku.svgmate #Man_screen .greenscrmove,
#ku.svgmate #Man_screen .redskmove,
#ku.svgmate .womscreenmove {
  animation-name: manscreenfloat;
  animation-iteration-count: infinite;
  animation-duration: 9s;
  animation-timing-function: ease-in-out;
}

#ku.svgmate #Man_screen .greenscrmove,
#ku.svgmate #Man_screen .redskmove {
  animation-duration: 6s;
}

#ku.svgmate #Man_screen .greenscrmove {
  animation-duration: 7.2s;
}

#ku.svgmate #hairback,
#ku.svgmate #womanscreen {
  animation-name: manscreenpopup;
  animation-iteration-count: 1;
  animation-duration: 3.9s;
  animation-timing-function: ease-in-out;
  transform-origin: 648.689px 361.659px;
}

#ku.svgmate #hairback {
  animation-name: backhairwave;
  animation-iteration-count: infinite;
  animation-duration: 3.3s;
  transform-origin: 785.132px 295.833px;
}
